<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of employees</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
</head>


<body>


<div class="container">
  <div class="row">
  
    <div class="col-lg-3">
    </div>
    
    <div class="col-lg-6">

	    
		
      	<h1 class="display-4 p-3 text-muted"><i class="far fa-edit"></i> employee:</h1>
  
		<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
		
		<!-- required for updates -->
		<input type="hidden" th:field="*{id}"/>
		
		  <div class="form-group">
		    <label for="fn">First name</label>
		    <input type="text" th:field="*{firstName}" class="form-control" id="fn" aria-describedby="first_name" placeholder="Enter first name">
		    <!-- <small id="fnHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		  </div>
		  
		  <div class="form-group">
		    <label for="ln">First name</label>
		    <input type="text" th:field="*{lastName}" class="form-control" id="ln" aria-describedby="last_name" placeholder="Enter last name">
		    <!-- <small id="lnHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		  </div>
		  
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" th:field="*{email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		  </div>
		  
		  <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
		</form>
		
		<hr class="my-4">
		<a class="btn btn-sm btn-outline-secondary" th:href="@{/employees/list}" role="button"><i class="fas fa-arrow-left"></i> back to list</a>
		
    </div>
    
    <div class="col-lg-3">
    </div>
    
  </div>
</div>








<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

